body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}
canvas {
  image-rendering: pixelated; /* Ensures pixel art looks sharp */
  align-self: center;
}
